@page
@model AI4ALL.Pages.Chatbot.IndexModel
@using AI4ALL.Services
@{
    var lang = Model.CurrentLanguage;
    Layout = "_Layout";
}

<section class="fade-in">
    <h1 class="orbitron">@LocalizationService.GetText("ChatbotTitle", lang)</h1>
    <p>@LocalizationService.GetText("ChatBotWelcome", lang)</p>
    <!-- No chatbot icon or widget markup here! -->
</section>